{% extends "base.html" %}

{% block title %}Todo{% endblock %}

{% block page_content %}
	<div class="center-block">
		<header>
			<h1 style="text-align: center">Todo List</h1>
			<input type="text" id="content"/>
		</header>

		<section>
			<input type="checkbox" id="toggle-all" /><label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>

		<footer>
		</footer>
	</div>

	<!--the todo-item templates here-->
	<script type="text/template" id="item-template">
		<div class="view">
			<input type="checkbox" class="toggle" <%= completed ? 'checked="checked"' : '' %>/>
			<label><%- title %></label>
			<a class="destroy"></a>
		</div>
		<input type="text" value="<%- title%>" class="edit"/>
	</script>

	<!--the todolist templates here --> 
	<script type="text/template" id="list-template">
		<div id="todo-count"><%- uncompleted %> <%= uncompleted == 1 ? 'item' : 'items' %> left</div>
		<% if (completed) { %>
      		<a id="clear-completed">Clear <%= completed %> completed <%= completed == 1 ? 'item' : 'items' %></a>
    	<% } %>
	</script>

    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/jquery-1.10.2.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/underscore.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/backbone.js"></script>
    <script src="{{ url_for('static', filename='todo.js') }}"></script>
{% endblock %}
